<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.standalone.min.css">
  <link rel="stylesheet" href="now-ui-kit.css" type="text/css">
  <link rel="stylesheet" href="assets/css/nucleo-icons.css" type="text/css">
  <script src="assets/js/navbar-ontop.js"></script>
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Now UI Kit by Creative Tim</title>
  <meta name="description" content="Start your development with a beautiful Bootstrap 4 UI kit. It is yours Free.">
  <meta name="keywords" content="bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, now ui, now ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit">
</head>

<body class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-position: left top; background-size: 100%; background-repeat: repeat; background-image: url(&quot;../../assets/img/cemsa1.png&quot;);">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" datacentral-toggle="collapse" datacentral-target="#navbar11" style="">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto" style="">
        </ul>
      </div>
    </div>
    <div class="container">
    </div>
    <div class="container"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-3"><a class="btn navbar-btn ml-md-2 btn-success pt-2 pb-2 mt-2" href="logout">Cerrar Sesión</a></div>
        <div class="col-md-1 col-lg-1">
          <div class="row m-0 mx-5">
            <ul class="nav nav-pills ml-4">
              <li class="nav-item" style=""> <a href="" class="nav-link active show" data-target="#tabthree" data-toggle="pill"><i class="fa fa-lg fa-cog"></i></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0 p-0" type="button" data-toggle="collapse" data-target="#navbar14" aria-expanded="true" style="">
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa-stop-circle"></i> CeMSA </p>
      </button>
      <div class="navbar-collapse collapse show" id="navbar14" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Personas</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="/consultarCliente">Consultar clientes</a> <a class="dropdown-item" href="/persona">Registrar cliente</a> </div>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Centrales Meteorológicas </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Consulta de centrales</a> <a class="dropdown-item" href="/central">Registrar central</a> </div>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Servicios </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Consultar servicios</a> <a class="dropdown-item" href="/servicio">Registrar servicios</a> </div>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Monitoreo </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="#">Estadísticas</a> <a class="dropdown-item" href="#">Reportes</a> <a class="dropdown-item" href="#">Tablero de control</a> </div>
          </li>
        </ul>
        <p class="navbar-brand mb-0 text-white">
          <i class="fa d-inline fa-lg fa fa-mixcloud"></i> CeMSA </p>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-1"> <a class="nav-link" href="#">
              <i class="fa fa-fw fa-githubfa fa-question"></i>
            </a> </li>
          <li class="nav-item mx-1"> <a class="nav-link" href="#">
              <i class="fa fa-fw fa-gitlabfa fa-user-circle-o"></i>
            </a> </li>
          <li class="nav-item mx-1"> <a class="nav-link" href="#">
              <i class="fa fa-fw fa-bitbucketfa fa-sign-out fa-lg"></i>
            </a> </li>
        </ul>
      </div>
    </div>
  </nav>



  <div class="section-overlapping">
    <div class="container"></div>
  </div>
  <div style="background-image: url(&quot;assets/img/bg7.jpg&quot;); background-position: center center; background-size: cover;" class="pb-5"></div>
  
  
  <div class="py-5 text-center" style="">


    <div class="container">
      
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col mb-2 px-0">
            </div>
          </div>
        </div>
      </div>
    
      <!-- encabezado  -->
    
      
      <div class="py-5 text-center" style="">
        <div class="container">
          <div class="row mx-1" style="">
            <div class="mx-auto" style="">
              <div class="row">
                <div class="col-md-12" style="">
                  <div class="row">
                    <div class="col-md-12 " style="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
              </div>
            </div>
            <div class="col-md-12">
              <h2>Agregar domicilio cuenta</h2>
            </div>
          </div>
          
          <!-- copiar desde   -->
          <div class="row">
    
             <!-- tabla  -->
            <div class="col-md-6">
              <div class="table-responsive" id="tableServicios">
                <table class="table table-bordered ">
                  <thead class="thead-dark">
                    <tr>
                      <th>#</th>
                      <th>Calle</th>
                      <th>Numero Calle</th>
                      <th>Manzana</th>
                      <th>CP</th>
                      <th>Observación</th>
                      <th>Fecha Alta</th>
                      <th>Coordenada X</th>
                      <th>Coordenada Y</th>
                      <th>ID localidad</th>
                      <th>ID Usuario</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (dataDomicilioCuenta) { %>
                      <% for(var i = 0; i < dataDomicilioCuenta.length; i++) { %>
                        <tr>
                          <td><%= (i + 1) %></td>
                          <td><%= dataDomicilioCuenta[i].dom_calle %></td>
                          <td><%= dataDomicilioCuenta[i].dom_nro %></td>
                          <td><%= dataDomicilioCuenta[i].dom_manzana %></td>
                          <td><%= dataDomicilioCuenta[i].dom_cp %></td>
                          <td><%= dataDomicilioCuenta[i].dom_observacion %></td>
                          <td><%= dataDomicilioCuenta[i].dom_fechaAlta %></td>
                          <td><%= dataDomicilioCuenta[i].dom_coorX %></td>
                          <td><%= dataDomicilioCuenta[i].dom_coorY %></td>
                          <td><%= dataDomicilioCuenta[i].dom_idLocalidad %></td>
                          <td><%= dataDomicilioCuenta[i].dom_usuId %></td>
                          <td>
                            <a href="/domicilioCuenta/update/<%= dataDomicilioCuenta[i].dom_id %>" class="fa fa-pencil-square-o fa-lg mx-2"></a>
                            <a href="/domicilioCuenta/delete/<%= dataDomicilioCuenta[i].dom_id %>" class="fa fa-times fa-lg bg-success mx-2"></a>
                          </td>

                          


                        </tr>
                      <% } %>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
    
          <!-- formulario  -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6" style="">
                  
                       <!-- formulario  -->
                  <form class="text-left" action="/domicilioCuenta/addDomicilioCuenta" method="POST">
                   
                    <div class="form-group"> <label for="form16">Calle</label> <input type="text" name="dom_calle" placeholder="Calle" class="form-control form-control-sm" id="dom_calle" value=""> </div>
                               
                   <div class="form-group"> <label for="form17">Nro Calle</label> <input type="text" name="dom_nro" placeholder="Nro Calle" class="form-control form-control-sm" id="dom_nro"> </div>
                   <div class="form-group"> <label for="form16">Manzana</label> <input type="text" name="dom_manzana" placeholder="Manzana" class="form-control form-control-sm" id="dom_manzana" value=""> </div>
                               
                   <div class="form-group"> <label for="form17">CP</label> <input type="text" name="dom_cp placeholder="CP" class="form-control form-control-sm" id="dom_cp"> </div>
                   <div class="form-group"> <label for="form16">Observación</label> <input type="text" name="dom_observacion" placeholder="Observación" class="form-control form-control-sm" id="dom_observacion" value=""> </div>
                               
                   <div class="form-group"> <label for="form17">Fecha Alta</label> <input type="text" name="dom_fechaAlta" placeholder="Fecha Alta" class="form-control form-control-sm" id="dom_fechaAlta"> </div>
                   <div class="form-group"> <label for="form16">Coordenada X</label> <input type="text" name="dom_coorX" placeholder="Coordenada X" class="form-control form-control-sm" id="dom_coorX" value=""> </div>
                               
                   <div class="form-group"> <label for="form17">Coordenada Y</label> <input type="text" name="dom_coorY" placeholder="Coordenada Y" class="form-control form-control-sm" id="dom_coorY"> </div>
                   <div class="form-group"> <label for="form16">Id Localidad</label> <input type="text" name="dom_idLocalidad" placeholder="Id Localidad" class="form-control form-control-sm" id="dom_idLocalidad" value=""> </div>
                               
                   <div class="form-group"> <label for="form17">Id Usuario</label> <input type="text" name="dom_usuId" placeholder="Id Usuario" class="form-control form-control-sm" id="dom_usuId"> </div>
                   
                               
                   
                   
                   <button type="submit" class="btn btn-success mx-2">Aceptar</button><button type="submit" class="btn mx-2 btn-dark">Cancelar</button>
                  
                  </form>
    
    
                </div>
                
              </div>
              
            </div>
          
          
          </div>
        <!-- copiar hasta -->
    
        </div>
      </div>










    </div>





  </div>



  <div class="modal fade" id="modal1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h4 class="modal-title text-dark mx-auto">
            <b>MODAL TITLE</b>
          </h4>
          <button type="button" class="close text-danger pt-4 ml-0" dataDomicilioCuenta-dismiss="modal">
            <span>
              <i class="now-ui-icons ui-1_simple-remove lg text-success"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <p class="m-0">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-between">
          <button type="button" class="btn btn-secondary">Nice Button</button>
          <button type="button" class="btn btn-success" dataDomicilioCuenta-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content text-center bg-primary">
        <div class="modal-body bg-success">
          <button class="btn btn-light btn-lg btn-icon rounded shadow" type="button">
            <i class="now-ui-icons users_circle-08 x2 text-dark"></i>
          </button>
          <p class="m-4"> Always have an access to your profile </p>
          <button type="button" class="btn mr-3 btn-secondary">BACK</button>
          <button type="button" class="btn ml-3 btn-light" dataDomicilioCuenta-dismiss="modal"> CLOSE </button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="assets/js/parallax.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
  <script style="">
    $(document).ready(function() {
      $('[dataDomicilioCuenta-toggle="popover"]').popover();
      $('[dataDomicilioCuenta-toggle="tooltip"]').tooltip();
      $('#datepicker-example').datepicker({
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
      });
    });
  </script>
  
</body>

</html>
